* {
	margin: 0;
}

ul {
	list-style-type: none;
}

body {
	background: url('./img/background.jpg');
	background-size: cover;
	filter: contrast(70%);
	width: 100vw;
	height: 100vh;
}

#navbar {
	text-align: center;
}

#navbar > ul {
	display: inline-flex;
	padding: 0;
	border: 4px solid rgb(0, 0, 0);
	background-color: gray;
}

#navbar > ul > li {
	color:white;
	font-size: 2rem;
	padding: 0 12px;
}

#navbar > ul > li.selected {
	background-color: rgb(32, 32, 32);
}

#main-title {
	margin: 100px 0 0 0;
	font-weight: 900;
	font-size: 2.8rem;
	text-align: center;
}

#menu {
	display: flex;
}

.plate {
	background-color: white;
	padding: 12px;
	border-radius: 12px;
}

.plate > img {
	height: 300px;
	width: 300px;
	object-fit: cover;
}

